.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  @media only screen and (min-width: 768px) {
    background-color: var(--color-grey-1);
  }

  .Login_modal {
    background-color: var(--color-white);
    border-radius: 8px;
    height: 29rem;
    width: 22.75rem;

    .logo {
      margin-top: 2rem;
    }

    .title {
      margin-top: 1.5rem;
    }

    .subtitle {
      margin: 0.875rem 0 3.375rem;
    }
  }

  .Register_text {

  }
}