.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  @media (min-width: 1024px) {
    background-color: var(--color-grey-1);
  }

  .Login_modal {
    background-color: var(--color-white);
    border-radius: 8px;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 1024px) {
      width: 22.75rem;
    }

    .title {
      margin-top: 1.5rem;
    }

    .subtitle {
      margin: 0.875rem 0 3.375rem;
      color: var(--color-grey-4);
    }

    .Button {
      margin-top: 1rem;
    }

    form {
      width: 100%;
      display: inherit;
      flex-direction: inherit;
    }
  }

  .Register_text {
    color: (--color-black);

    @media (min-width: 1024px) {
      color: (--color-white);
    }
  }
}