.Input {
  width: 100%;
  margin-bottom: 1.5rem;

  label {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    margin-bottom: 0.1875rem;
  }

  input,
  select {
    border-radius: 3px;
    border: 1px solid var(--color-grey-4);
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 2.125rem;
    outline: none;
    font-size: 0.875rem;
    padding: 0 0.5rem;

    &:hover {
      border-color: var(--color-grey-2);
    }

    &:focus {
      border-color: var(--color-green-5);
    }

    &:disabled {
      background-color: var(--color-grey-7);
    }
  }

  select {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('../../images/arrowSelect.svg');
    
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
  }

  &.disabled {
    label {
      color: var(--color-grey-2);
    }
  }

  &.inputError {
    margin-bottom: 0.5625rem;

    input {
      border-color: var(--color-red);
    }
  }

  &_error {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.75rem;
    margin-top: 0.1875rem;
  }
}