.ItemCard {
  margin-top: 2rem;

  h5 {
    margin-bottom: 0.5rem;
  }

  &_block {
    border: 1px solid var(--color-grey-6);
    border-radius: 8px;
    padding: 1.5rem 1rem;
  }

  &_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
    }

    h2 {
      margin-bottom: 1rem;

      @media (min-width: 1024px) {
        margin: 0;
      }
    }

    .Button {
      width: 100%;

      @media (min-width: 1024px) {
        width: 30%;
      }
    }
  }
}