.ItemCardSimpleContent {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @media (min-width: 1024px) {
      flex-wrap: nowrap;
      width: 100%;
    }

    .simple-item {
      width: 50%;
      padding-right: 1rem;
      margin-bottom: 1.25rem;
      display: flex;
      flex-direction: column;

      @media (min-width: 1024px) {
        width: 100%;
        margin: 0;
      }

      .title {
        font-size: 0.75rem;
        font-weight: 400;
        margin-bottom: 0.25rem;
        color: var(--color-grey-3);
      }

      .value {
        font-weight: 500;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        flex: 1;

        @media (min-width: 1024px) {
          font-size: 1rem;
        }

        button {
          height: 1.5rem;
          margin-left: 1rem;
          width: auto;
          padding: 0 1rem;
        }
      }
    }
  }
}
