.nav-item {
  margin: 1rem 0;
  width: 100%;

  a {
    padding: 0.625rem 1.5rem;
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;


    &:hover {
      background-color: var(--color-grey-7);
    }
  }

  &.active {
    a {
      background-color: var(--color-green-7);
      color: var(--color-green-4);
    }
  }
}