.TilesCard {
  box-shadow: 0px 2px 8px rgba(11, 30, 53, 0.1);
  padding: 0.5rem 0.5rem 1rem;
  min-height: 4.375rem;
  border-radius: 4px;
  border: 1px solid var(--color-grey-6);
  display: block;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background ease-in .1s, border ease-in .1s, padding ease-in .1s, color ease-in .1s;

  &_top {
    display: flex;
    justify-content: space-between;

    h4 {
      padding: 0.5rem;
    }
  }

  &_bottom {
    color: var(--color-grey-3);
    font-size: 0.75rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;

    span {
      margin-right: 0.25rem;
    }

    img {
      margin-right: 0.5rem;
    }
  }

  &.selected {
    border: 2px solid var(--color-green-4);
    padding: calc(0.5rem - 1px) calc(0.5rem - 1px) calc(1rem - 1px);
    background-color: var(--color-green-8);

    .TilesCard_bottom {
      color: var(--color-green-6);
    }
  }

  &.disabled {
    opacity: 0.3;
  }

  input {
    border-radius: 50%;
  }
}