.Button {
  width: 100%;

  button {
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    width: 100%;
    display: block;
    outline: none;
    height: 2.5rem;
    cursor: pointer;
    box-shadow: 0px 1px 3px -2px var(--color-black);

    &.primary {
      background-color: var(--color-green-3);
      color: var(--color-white);
      border: 0;

      &:hover {
        background-color: var(--color-green-4);
      }
    }

    &.secondary {
      background-color: var(--color-grey-8);
      border: 1px solid var(--color-grey-5);
      color: var(--color-green-4);

      &:hover {
        background-color: var(--color-grey-6);
      }
    }

    &.action {
      background-color: var(--color-grey-8);
      border: 1px solid var(--color-grey-9);
      color: var(--color-black);
      font-size: 0.625rem;

      &:hover {
        background-color: var(--color-grey-6);
      }
    }
  }
}