.Dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &_page {
    display: flex;
    flex: 1;
    position: relative;

    @media (min-width: 1024px) {
      position: static;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    padding: 2rem 1rem;
    height: calc(100vh - 3.5rem); /* 3.5rem - size of header */

    @media (min-width: 1024px) {
      padding: 4rem 2rem;
    }
  }
}