html {
  /* Colors */
  --color-black: #000;
  --color-white: #FFF;

  --color-grey-1: #1F1F1F;
  --color-grey-2: #878787;
  --color-grey-3: #BABABA;
  --color-grey-4: #C4C4C4;
  --color-grey-5: #CCC;
  --color-grey-6: #DEDEDE;
  --color-grey-7: #EDEDED;
  --color-grey-8: #FAFAFA;
  
  /* found in design */
  --color-grey-9: #E6E6E6;

  --color-green-1: #0B382B;
  --color-green-2: #1B544C;
  --color-green-3: #20554E;
  --color-green-4: #24665D;
  --color-green-5: #1E8072;
  --color-green-6: #6E9B95;
  --color-green-7: #D0E4E1;
  --color-green-8: #E4F0EE;

  --color-blue-1: #1C5C7B;
  --color-blue-2: #EDF4F7;

  --color-red-1: #D11C32;

  --color-black-transparent: rgba(0, 0, 0, 0.8);

  /* Sizes */

  --size-main-nav: 17.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0em;
  margin: 0;
}

h4 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 16px;
  margin: 0;
}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  color: var(--color-grey-3);

  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a,
button {
  transition: background-color ease-in .2s; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}


form {
  width: 100%;
}

/* Additional Globals */
.scroll-disabled {
  overflow: hidden;
}

.error {
  color: var(--color-red-1);
}

.max-width-wrapper {
  max-width: 800px;
}

.widget {
  width: 100%;

  > h1 {

    @media (min-width: 1024px) {
      padding-bottom: 1.5rem;
    }
  }
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}