.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2.375rem 0;

  @media (min-width: 1024px) {
    background-color: var(--color-grey-1);
    justify-content: center;
  }

  &_modal {
    background-color: var(--color-white);
    border-radius: 8px;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 1024px) {
      width: 22.75rem;
    }

    .title {
      margin-top: 1.5rem;
    }

    .subtitle {
      margin: 0.875rem 0 3.375rem;
      color: var(--color-grey-4);
    }

    .Button {
      margin-top: 1rem;
    }

    form {
      width: 100%;
      display: inherit;
      flex-direction: inherit;
    }
  }

  &_register,
  &_register a {
    color: var(--color-black);
    font-weight: 500;

    @media (min-width: 1024px) {
      color: var(--color-white);
    }
  }

  &_register a {
    margin-left: 0.25rem;
    text-decoration: underline;
  }

  &_register {
    @media (min-width: 1024px) {
      margin-top: 2.5rem;
    }
  }
}